html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Oxygen", serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/** header start here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}

header span {
    color: #024873;
    font-size: 1.6rem;
    font-weight: 700;
}

/** nav start here */
nav {
    background-color: #f2b705;
}

nav ul {
    margin: 0;
    padding: 0 10px; 
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 0.83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: #024873;
}

nav li.active a {
    background-color: #024873;
    color: #f2b705;
}

nav li a:hover {
    color: white;
}

/** main start here */
main {
    padding: 1rem 10px;
    flex: 1;
}

main h1 {
    color: #840412;
}

main h2 {
    color: #024873;
    margin-bottom: 0.2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: 0.5rem 30px;
    background-color: #efefef;
    border-radius: 10px;
}

main dl dt {
    color: #840412;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color:#024873;
    font-size: 0.9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #f2b705;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #024873;
    width: 200px;
}

main a {
    color: #024873;
}

main a:hover {
    color: rgb(180, 4, 18);
}

/** footer start here */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
    font-size 0.8rem;
    color: #333;
}